# Ignorar entorno virtual (cuando se crea dentro del proyecto)
Include/
Lib/
Scripts/
Share/
pyvenv.cfg

# Archivos de Python temporales
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.pgn
# Archivos de entorno
.env*
*.ini
*.cfg



# Archivos de notebook de Jupyter
.ipynb_checkpoints/

# Ignorar carpeta local de stockfish (motor)
stockfish/